In [2]:
# import sys
# sys.executable


import pandas as pd

xls = pd.ExcelFile('yelp.xlsx')
df = xls.parse('yelp_data')

/Users/sowjanya/.pyenv/versions/3.10.12/lib/python3.10/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
len(df)

600

In [6]:
df.shape

(600, 8)

In [7]:
# Query location of 100 businesses
attrs = ["name","city_id","state_id"]
df[attrs].head(100)

                                              name  city_id  state_id
0                     China Sea Chinese Restaurant        1         1
1                             Discount Tire Center        1         1
2                                     Frankfurters        1         1
3                                Fred Dietz Floral        1         1
4                                    Kuhn's Market        1         1
..                                             ...      ...       ...
95                             Aamco Transmissions        8         1
96  Animal Rescue League Shelter & Wildlife Center        8         1
97                          Aracri's Greentree Inn        8         1
98                           Atch-Mont Real Estate        8         1
99                              Atria's Restaurant        8         1

[100 rows x 3 columns]

In [8]:
df.columns

Index(['name', 'category_0', 'category_1', 'take_out', 'review_count', 'stars',
       'city_id', 'state_id'],
      dtype='object')

In [ ]:
df.